.navbar-collapse ul li {
    color: #fff;
    cursor: pointer;
}

.navbar .menu-right button {
    position: relative;
    margin: 0px;
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
    color: #fff;
    outline: currentcolor none 0px;
    cursor: pointer !important;
    pointer-events: all;
}

.input-grey-rounded{
    font-size: 16px;
    line-height: 1.5;
    background: #E9EEF0;
    border: 1px solid #D5D9DB;
    background-image: url('Assets/Images/icon/search.svg');
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-size: 20px 20px;
    border-radius: 100px;
    width: 100%;
    padding: .5em 1em .5em 2.5em;
}

.input-grey-rounded::placeholder{
    color: #838D99;
}

.input-grey-rounded:focus {
    outline: none;
    background-color: #FFF;
    border: 1px solid #84A2FA;
}

.search {
    position: absolute;
    display: flex;
    top: 0;
    height: 65.95px;
    visibility: hidden;
}

.search.active {
    visibility: visible !important;
}

.input-transparent{
    font-size: 16px;
    line-height: 1.5;
    background: transparent;
    border: none;
    width: 100%;
}

.search button, .search .input-transparent::placeholder{
    color: #fff !important;
}

.search .input-transparent:focus {
    outline: none;
    color: #fff !important;
}

.navigation .genre{
    background-color: #f8f9fa;
}

.navigation .genre a {
    color: #6c757d;
}

.navigation .genre[data-theme="dark"] {
    background-color: #4d4d4d;
}


.navigation .genre[data-theme="dark"] a {
    color: #fff;
}